/* JDM FAB Styles */
.no-js #hide-admin-buttons{display:none;}
/* in case no Bootstrap - since v0.7 */
.no-bs .btn{ opacity:0.8;	-moz-user-select: none;    -webkit-user-select:none;	-ms-user-select: none;	background-image: none;    border-radius: 4px;    cursor: pointer;    font-size: 16px; line-height:22px;  font-weight: normal;    padding: 6px 12px;    vertical-align: middle;    white-space: nowrap;	text-transform:none;	letter-spacing:normal;}
.no-bs a.btn:hover{opacity:1;}
.no-bs .btn .genericon{font-size:22px; line-height:22px; vertical-align:middle;}
.no-bs .btn-block {    display: block;    width: 100%;}
.no-bs .btn-default {    background-color: #f6f6f6;    border-color: #999;    color: #333;}
.no-bs .btn-info {    background-color: #5bc0de;    border-color: #46b8da;    color: #fff;}
.no-bs .btn-primary {    background-color: #007acc;    border-color: #0171bc;    color: #fff;}
.no-bs .btn-danger {    background-color: #d9534f;    border-color: #d43f3a;    color: #fff;}

.no-bs .btn-default:hover, .no-bs .btn-default:focus {  opacity:1;  background-color: #f1f1f1;    border-color: #999;    color: #222;}
.no-bs .btn-info:hover, .no-bs .btn-info:focus {  opacity:1;  background-color: #46b8da;    border-color: #46b8da;    color: #fff;}
.no-bs .btn-primary:hover, .no-bs .btn-primary:focus {  opacity:1;  background-color: #0171bc;    border-color: #0171bc;    color: #fff;}
.no-bs .btn-danger:hover, .no-bs .btn-danger:focus {  opacity:1;  background-color: #d43f3a;    border-color: #d43f3a;    color: #fff;}

/* general styles */
.jdm-fab{width:170px; position:fixed; top:60px; right:0; opacity:0.7;-webkit-transition: all 300ms ease; -moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;}

.home .jdm-fab{ top:105px;}
.jdm-fab:hover{-webkit-transition: all 300ms ease; -moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;}
.admin-btns-wrapper .btn{font-family:"Open Sans",sans-serif; margin-bottom:2px; margin-right:0; text-align:left; line-height:2; border-top-right-radius:0; border-bottom-right-radius:0;border-right:none;}
.admin-btns-wrapper .btn span{margin-right:15px; margin-left:5px;}

.jdm-fab{opacity:1;-moz-transform: translateX(115px);-webkit-transform: translateX(115px);-o-transform: translateX(115px);-ms-transform: translateX(115px);transform: translateX(115px);}
.jdm-fab:hover, #admin-btns:focus, #admin-btns:active{-moz-transform: translateX(0);-webkit-transform: translateX(0);-o-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}

/* @since v0.9 */
.jdm-fab.fontawesome {-moz-transform: translateX(125px);-webkit-transform: translateX(125px);-o-transform: translateX(115px);-ms-transform: translateX(125px);transform: translateX(125px);}